<h1>Write and publish a new article!</h1>
<% if @article.errors.any? %>
  <div class="error_messages">
    <h2>You're missing some fields.</h2>
    <ul>
      <%= @article.errors.each do | message | %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= render :partial => 'form' %>